// Services
$body: #000;
$section-heading: #888;
$section-paragraph: #999;
$card-background: #fff;
$card-alternet: rgba(255, 255, 255, 0.6);
$services-svg-icon-color: invert(100%) sepia(0%) saturate(2%) hue-rotate(8deg) brightness(104%) contrast(101%);
$card-title:#444;
$card-paragraph:#777;

$black: #111015;
$blackShade1: #121116;
$blackShade2: #17161C;
$blackShade3:#212026;
$primaryTextColor: #ffffff;
$secondaryTextColor: #707070;
$primaryFadeTextColor: #bfbfbf;
$primaryLightTextColor: #d8d8d8;