@import 'color';
@import 'fonts';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GilroyLight', sans-serif;

    & body{
        scroll-behavior: smooth;
        background-color: $black;
        & .primary-button{
            background-color: white;
            font-family: "GilroyLight";
            border-radius: 4px;
            border: none;
            font-family: "GilroyBold";
            outline: none;
            padding: 6px 18px;
            cursor: pointer;
        }
        & main{
            // NAVIGATION
            & nav{
                position: absolute;
                top: 0;
                z-index: 999;
                width: 100%;
                display: flex;
                justify-content: center;
                & .navbar{
                    max-width: 1200px;
                    width: 100%;
                    top: 0;
                    color: transparent;
                    align-items: center;
                    height: 60px;
                    display: flex;
                    justify-content: space-between;

                    & .logo{
                        display: flex;
                        align-items: center;
                        & img{
                            width: 38px;
                            height: 38px;
                            object-fit: contain;
                            object-position: center;
                        }
                        h1{
                            margin-left: 18px;
                            font-family: "GilroyBold";
                            font-size: 18px;
                            color: white;
                        }
                    }
    
                    & .actions{
                        display: flex;
                        align-items: center;
                        & .navigation{
                            & a {
                                display: inline-block;
                                text-decoration: none;
                                font-family: "GilroyLight";
                                font-size: 14px;
                                margin: 0px 14px;
                                color: #bfbfbf;

                                &.active{
                                    color: white;
                                }
                                &:hover{
                                    color: white;
                                }
                            }
                        }
                        & .buttons {
                            & button{
                                margin: 0px 14px;
                            }
                        }
    
                    }
                }
            }

            // LANDING SECTION
            & .landing-section{
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                position: relative;
                // background-image: url(attr(data-background-image));

                & .landing_background{
                    position: absolute;
                    width: 100%;
                    // height: 100%;
                    z-index: -1;
                    // height: 100vh;
                    top: 0;
                    object-fit: cover;
                    object-position: top;
                    mask-image:  linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0) 1.25em,
                        rgb(0, 0, 0) 1.25em
                      );
                    -webkit-mask-image: 
                    linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0),
                        rgba(0, 0, 0, 1),
                      );
                    
                }

                & .landing-content{
                    display: flex;
                    margin-left: 32px;
                    flex-direction: column;
                    height: 100%;
                    max-width: 1200px;
                    width: 1200px;
                    // align-items: center;
                    justify-content: center;

                    & > h1{
                        font-family: "GilroyBold";
                        font-size: 38px;
                        color: white;
                    }
                    & > p{
                        font-family: "GilroyLight";
                        margin-top: 14px;
                        font-size: 18px;
                        color: #707070;
                        max-width: 60%;
                    }
                    & > .explore-actions{
                        display: flex;
                        align-items: center;
                        margin-top: 14px;
                        & > p{
                            font-family: "GilroyLight";
                            font-size: 18px;
                            color: white;
                        }
                        & > a{
                            margin-left: 12px;
                            text-decoration: none;
                            & > button{
                                border: 1px solid white;
                                border-radius: 99px;
                                width: 42px;
                                height: 42px;
                                background-color: transparent;
                                cursor: pointer;
                                transition: color 350ms;
                                &:hover{
                                    background-color: #303030;
                                }
                                & > i {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            @import 'about';
            @import 'services';
            @import 'team';
            @import 'testimonial';


            // FOOTER SECTION
            & footer{
                display: flex;
                justify-content: center;
                margin-top: 10rem;
                
                & .footer-section{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    // max-width: 1200px;
                    font-family: "GilroyLight";
                    font-size: 14px;
                    color: white;
                    & .top-footer{
                        width: 100%;
                        background-color: $blackShade2;
                        display: flex;
                        justify-content: center;
                        padding-left: 24px;
                        padding-right: 24px;
                        & > .container{
                            max-width: 1200px;
                            width: 100%;
                            height: 40vh;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            & .contact-us-section{
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                & > .header{
                                    font-family: "GilroyBold";
                                    font-size: 24px;
                                    margin-bottom: 8px;
                                }
                                & p{
                                    color: #bfbfbf;
                                    margin:4px 0px;
                                    & a{
                                        color: inherit;
                                        text-decoration: none;
                                    }
                                }
                            }
                            .map-section{
                                height: 100%;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                padding-left: 20px;
                                & > iframe{
                                    border: none;
                                    height: 100%;
                                    width: 500px;
                                }
                            }
                        }

                    }


                    & .web-footer{
                        display: flex;
                        // background-color: #0d0d0d;
                        width: 100%;
                        justify-content: center;
                        padding: 18px 0px;
                        & > p {
                            max-width: 1200px;
                            display: flex;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px)
{
    & nav{
        & .navbar{
            margin: 0px 24px;

            & .actions{
                & .navigation{
                    display: none;
                }
            }
        }
    }

    & .landing-section{
        & .landing_background{
            height: 120vh !important;
            
        }
        & .landing-content{
            align-items: center;
    
            & > h1{
                text-align: center;
            }
            & > p{
                text-align: center;
            }
        }
    }

}

@media (max-width: 800px)
{
    // & .landing-section{
    //     & .landing_background{
    //         height: 80vh !important;
            
    //     }
    // }
    & footer{
        & .footer-section{
            & .top-footer{
                & > .container{
                    height: min-content !important;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    & .contact-us-section{
                        align-items: center;
                    }
                    & > .map-section{
                        height: min-content !important;
                        & > iframe{
                            height: 160px !important;
                            width: 100% !important;
                        }
                    }
                }

            }
        }
    }
}
